.App {
  text-align: center;
}

.App-header {
  background-color: #2353b1;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.speech-bubble {
  position: absolute;
  background: #232020;
  border-radius: .4em;
}

